@import url("lib/bootstrap-4.2.1-dist/css/bootstrap.min.css");
@import url("lib/fontawesome-free-5.9.0-web/css/all.min.css");
@import url("lib/fancybox-master/dist/jquery.fancybox.min.css");
@import url("lib/slick-1.8.1/slick/slick-theme");
@import url("lib/slick-1.8.1/slick/slick.css");

/** Material Icon */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");

/** Load this font online if your PC can not load the font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=vietnamese");

* {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

button.navbar-toggler,
button.navbar-toggler:focus {
  border: none;
}

.dropdown-toggle:after { content: none }

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shown {
  opacity: 1 !important;
  transition: all cubic-bezier(0, 0, 0.21, 0.84) 0.8s;
}
.left-hidden {
  opacity: 0 !important;
  transform: translateX(-100%) !important;
  width: 0 !important;
}
.right-hidden {
  transform: translateX(+100%) !important;
  opacity: 0 !important;
  width: 0 !important;
}
.bottom-hidden {
  height: 0 !important;
  transform: translateY(+100%) !important;
  opacity: 0 !important;
}
.hidden {
  opacity: 0 !important;
}

.btn.btn-rounded {
  border-radius: 50px !important;
}

a.author-image {
  display: block;
  overflow: hidden;
  height: 255px;
}

#trending,
#mini-background {
  /* background-image: url("../img/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  background-image: url('../img/author-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search,
.easy-autocomplete {
  transition: all ease 0.3s;
}

.search .form-control {
  transition: all ease 0.3s;
  padding-right: 2.375rem;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control-feedback.sm {
  line-height: 2rem !important;
}

#trending h1,
#mini-background h1 {
  font-weight: 700;
}

section {
  padding: 5.5rem 0;
}

section#popularWriter {
  background: #e7f0ef;
}

section#footer {
  background: #f1f1f1;
}

h2.text-capitalize.title-section {
  color: #cc302b;
  font-weight: 600;
  font-family: "Pacifico", cursive;
}

.add-to-cart {
  transition: all ease 0.5s;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  background: #72848ab5;
  color: white;
  border: none;
  padding: 1rem;
  opacity: 0;
}

.add-to-cart:hover {
  background: #cc302b;
  color: white;
}

.product:hover .add-to-cart {
  z-index: 10 !important;
  opacity: 1 !important;
}

@media only screen and (min-width: 576px) {
  .product {
    width: 100%;
    height: 400px !important;
  }
}
@media only screen and (max-width: 576px) {
  .product {
    width: 100%;
    height: 250px !important;
  }

  .author {
    height: 280px !important;
  }
}

.btn.my-btn {
  background: #72848ab5;
  color: white;
  border: none;
  transition: all cubic-bezier(0, 0, 0.21, 0.84) 0.3s;
}

.btn.my-btn:hover {
  background: #cc302b;
  color: white;
  transform: translateY(-2px);
}

.header-box {
  margin-bottom: 3.5rem;
}

.footer-box {
  margin-top: 3.5rem;
}

.author .title {
  margin: 1rem 0;
}

.social a {
  color: #99a6ab;
}

.social a:hover {
  color: #cc302b;
}

input.input-rounded.form-control {
  border-radius: 50px;
  font-size: 0.85rem;
  background-clip: unset;
}

#footer .text-capitalize.title {
  color: #cc302b;
  font-weight: 600;
}

a.navbar-brand {
  height: 45px;
  width: 100px;
}

nav.navbar.fixed-navbar {
  position: fixed;
  width: 100%;
  font-size: small;
}

nav.navbar {
  transition: all ease 0.3s;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-none.fixed-top a {
  color: white;
  transition: all ease 0.3s;
  border-bottom: 2px solid #cc302b00;
}

nav a:hover {
  border-bottom: 2px solid #cc302b !important;
}

nav.navbar.small-navbar {
  height: 50px;
  font-size: smaller;
  border-bottom: 0.5px solid #ececec;
}

.card.shadow.p-0.shown:hover {
  transform: translateY(-10px);
}

button#goTopBtn {
  position: fixed;
  right: 20px;
  bottom: 120px;
}

button#goTopBtn:focus {
  box-shadow: none;
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
  width: 80px;
  height: 100%;
  z-index: 2;
  transition: background ease-out 1s;
}

button.slick-next.slick-arrow:hover,
button.slick-prev.slick-arrow:hover {
  background: #46464638;
}

.item-thumb {
  width: 70px;
  height: 100px;
}

.eac-item img {
  margin-right: 20px;
  max-height: 70px;
}

.easy-autocomplete {
  width: 75%;
}
